<!DOCTYPE html>
<html>
  <head>
    <title>Career Canvas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <body>
    
    <!--development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
      <navbar></navbar>

      <div v-if="popupVisible" class="popup" @click.self="closePopup">
        <form class="popup-form" @submit.prevent="submitForm">
          <div>
            <label>Username:</label>
          <input type="text" v-model="username">
          </div>
          <br/>
          <div>
            <label>Password:</label>
          <input type="password" v-model="password">
          </div>
          <br/>
          <div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>

      <div v-if="profileEditPopup" class="popup" @click.self="closeProfileEditPopup">
        <form class="popup-form" @submit.prevent="submitForm">
          <div>
            <label for="displayName">Display Name</label>
            <input type="text" class="form-control" id="displayName" v-model="currentUser.displayName" placeholder="Enter new display name">
          </div>
          <br/>
          <div>
            <label for="introduction">Introduction</label>
            <input type="text" class="form-control" id="introduction" v-model="currentUser.intro" placeholder="Enter new introduction">
          </div>
          <hr/>
          <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeProfileEditPopup">Close</button>
          <button type="button" class="btn btn-primary" @click="saveProfileChanges">Save changes</button>
          </div>
        </form>
      </div>

      <div v-if="portfolioEditPopup" class="popup" @click.self="closePortfolioEditPopup">
        <form class="popup-form" @submit.prevent="submitForm">
          <h4>Delete or rename a portfolio:</h4>
          <div>
            <div>
              <h6>Select a portfolio to delete/rename:</h6>
              <select v-model="selectedCurrentUserPortfolio">
                <option disabled value="">Please select one</option>
                <option v-for="option in currentUser_portfolios" :value="option">{{ option }}</option>
              </select>
            </div>
            <br/>
            <div>
              <h6>Enter a new portfolio title:</h6>
              <input type="text" placeholder="Enter new Portfolio title" v-model="newPortfolioTitle" />
            </div>
            <br/>
            <div class="button-container">
              <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deletePortfolio">Delete portfolio</button>
              <button type="button" class="btn btn-primary" @click="renamePortfolio">Rename Portfolio</button>
            </div>
          </div>
          <br/>
        <hr/>
          <br/>
          <div>
            <h4>Add a new portfolio:</h4>
            <div>
              <h6>Enter the new portfolio title:</h6>
              <input type="text" placeholder="Enter new portfolio title" v-model="addPortfolioTitle" />
            </div>
            </br>
            <div class="button-container">
              <button type="button" class="btn btn-primary" @click="addPortfolio">Add Portfolio</button>
            </div>
          </div>
        <br/>
        <hr/>
        <br/>
          <div class="button-container">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closePortfolioEditPopup">Close</button>
          </div>
        </form>
      </div>

      <div v-if="entryEditPopup" class="popup" @click.self="closeEntryEditPopup">
        <form class="popup-form" @submit.prevent="submitForm">
          <div style="overflow:hidden;">
            <div style="float:left; width:50%; padding:10px;">
              <h4>Delete or edit an entry:</h4>
              <div>
                <h6>Select a Portfolio:</h6>
                <select v-model="selectedCurrentUserPortfolio">
                  <option disabled value="">Please select one</option>
                  <option v-for="option in currentUser_portfolios" :value="option">{{ option }}</option>
                </select>
              </div>
              <br/>
              <div>
                <h6>Select an entry from the previously selected portfolio:</h6>
                <select v-model="selectedCurrentUserEntry">
                  <option disabled value="">Please select one</option>
                  <option v-for="option in currentUser_subEntryMap[selectedCurrentUserPortfolio]" :value="option">{{ option.title }}</option>
                </select>
              </div>
              <br/>
              <div>
                <div>
                  <h6>Enter a new entry title:</h6>
                  <input type="text" placeholder="Enter new entry title" v-model="newEntryTitle" />
                </div>
                <br/>
                <div>
                  <h6>Enter a new entry description:</h6>
                  <input type="text" placeholder="Enter new entry description" v-model="newEntryDescription" />
                </div>
              </div>
              <br/>
              <div class="button-container">
                <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteEntry">Delete entry</button>
                <button type="button" class="btn btn-primary" @click="updateEntry">Apply changes</button>
              </div>
            </div>
      
            <div style="float:right; width:50%; padding:10px;">
              <h4>Add a new entry:</h4>
              <div>
                <h6>Select a Portfolio to add a new entry into:</h6>
                <select v-model="selectedPortfolioForEntryAddition">
                  <option disabled value="">Please select one</option>
                  <option v-for="option in currentUser_portfolios" :value="option">{{ option }}</option>
                </select>
              </div>
              <br/>
              <div>
                <div>
                  <h6>Enter a new entry title:</h6>
                  <input type="text" placeholder="Enter new entry title" v-model="addEntryTitle" />
                </div>
                <br/>
                <div>
                  <h6>Enter a new entry description:</h6>
                  <input type="text" placeholder="Enter new entry description" v-model="addEntryDescription" />
                </div>
              </div>
              </br>
              <div class="button-container">
                <button type="button" class="btn btn-primary" @click="addEntry">Add Entry</button>
              </div>
              <br/>
              <hr/>
              <br/>
              <div class="button-container">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeEntryEditPopup">Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      
      
          

      <div v-if="showUserSearch">
        <!-- Page Content -->
        <div class="container my-4">
          <!-- User Cards -->
          <div id="user-list">
            <div class="row">
              <user-card v-for="user in users" :key="user.id" :user="user" class="col-lg-4 col-md-6 col-sm-12"></user-card>
            </div>
          </div>
        </div>
      </div>
      

      <div v-if="showMyPortfolio">
        <div class="sidebar">
          <div id="sidebarInfo" class="d-flex align-items-center p-3">
            <img class="rounded-circle mr-2" style="width: 50px; height: auto;" src="https://img.icons8.com/nolan/256/user-default.png" alt="Profile Picture" />
            <div>
              <h6 class="mb-0">{{ currentUser.displayName }}</h6>
              <small class="text-muted">{{ currentUser.intro }}</small>
            </div>
          </div>
          <portfolio-nav></portfolio-nav>
        </div>
        <div class="card-deck main">
          <div class="card-wrapper" v-for="(card, index) in cards" :key="index">
            <div class="card">
              <img class="card-img-top" src="./resource/workPhoto.jpg">
              <div class="card-body">
                <h5 class="card-title">{{ card.title }}</h5>
                <p class="card-text">{{ card.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="showAbout">
        <div class="text-center m-3">
          <h1>About</h1>
          <p>Career Canvas is a website designed for individuals to showcase their career journey through the creation and sharing of professional portfolios. Our platform provides a space for individuals to highlight their unique experiences, skills, and accomplishments, allowing them to stand out in today's competitive job market. Whether you're a recent graduate just starting out, a seasoned professional looking to make a career change, or someone in between, Career Canvas offers an easy and effective way to create a portfolio that represents you and your professional brand. Join our community today and let your career journey unfold!</p>
        </div>
      </div>

      <div v-if="showUserPage">
        <div class="sidebar">
          <div id="sidebarInfo" class="d-flex align-items-center p-3">
            <img class="rounded-circle mr-2" style="width: 50px; height: auto;" src="https://img.icons8.com/nolan/256/user-default.png" alt="Profile Picture" />
            <div>
              <h6 class="mb-0">{{ selectedUser.displayName }}</h6>
              <small class="text-muted">{{ selectedUser.intro }}</small>
            </div>
          </div>
          <ul style="max-height: 60vh; overflow-y: auto;">
            <li v-for="(selectedUser_portfolio, index) in selectedUser_portfolios" :key="index">
              <a @click="selectedUser_selectedPortfolio = selectedUser_portfolio">{{ selectedUser_portfolio }}</a>
            </li>
          </ul>
        </div>
        <div class="card-deck main">
          <div class="card-wrapper" v-for="(card, index) in selectedUserCards" :key="index">
            <div class="card">
              <img class="card-img-top" src="./resource/workPhoto.jpg">
              <div class="card-body">
                <h5 class="card-title">{{ card.title }}</h5>
                <p class="card-text">{{ card.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./CareerCanvas.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
    </html>